.container {
    margin-left: 20px;
}

.input {
    background-color: burlywood;
}

.sectionBlock {
    display: flex;
}

.sectionBlock > p:hover {
    background-color: aqua;
    cursor: pointer;
}

.sectionBlock input {
    margin: auto 0;
    margin-right: 10px;
}
